* {
    -webkit-tap-highlight-color: transparent;
}

:root {
    /* Background */
    --vp-c-bg: #ffffff;
    --vp-c-bg-alt: #f6f6f7;
    --vp-c-bg-elv: #ffffff;
    --vp-c-bg-soft: #f6f6f7;
    
    /* Border */
    --vp-c-border: #d6d6d6;
    --vp-c-divider: #cdcdcd;
    --vp-c-glutter: #cacaca;
    
    /* Colors */
    --vp-c-indigo-1: #4338ca;
    --vp-c-indigo-2: #4f46e5;
    --vp-c-indigo-3: #6366f1;
}

.dark {
    --vp-c-bg: #121212;
    --vp-c-bg-alt: #141414;
    --vp-c-bg-elv: #161616;
    --vp-c-bg-soft: #181818;
    
    --vp-c-border: #292929;
    --vp-c-divider: #323232;
    --vp-c-glutter: #353535;
    
    /* Colors for dark mode */
    --vp-c-indigo-1: #4f46e5;
    --vp-c-indigo-2: #6366f1;
    --vp-c-indigo-3: #818cf8;
    
}

:root {
    
    --vp-c-brand-1: var(--vp-c-indigo-1);
    --vp-c-brand-2: var(--vp-c-indigo-2);
    --vp-c-brand-3: var(--vp-c-indigo-3);
    
    --vp-home-hero-name-color: var(--vp-c-indigo-2);
    --vp-home-hero-name-background: transparent;
    
    
    --vp-button-brand-border: transparent;
    --vp-button-brand-text: var(--vp-c-white);
    --vp-button-brand-bg: var(--vp-c-brand-1);
    --vp-button-brand-hover-border: transparent;
    --vp-button-brand-hover-text: var(--vp-c-white);
    --vp-button-brand-hover-bg: var(--vp-c-brand-2);
    --vp-button-brand-active-border: transparent;
    --vp-button-brand-active-text: var(--vp-c-white);
    --vp-button-brand-active-bg: var(--vp-c-brand-1);
    
    --vp-button-alt-border: var(--vp-c-border);
    --vp-button-alt-text: var(--vp-c-text-1);
    --vp-button-alt-bg: transparent;
    --vp-button-alt-hover-border: var(--vp-c-divider);
    --vp-button-alt-hover-text: var(--vp-c-text-1);
    --vp-button-alt-hover-bg: transparent;
    --vp-button-alt-active-border: var(--vp-c-glutter);
    --vp-button-alt-active-text: var(--vp-c-text-1);
    --vp-button-alt-active-bg: transparent;
}